@model MVC_Libros.Models.Libro

@{
    ViewData["Title"] = "Details";
}
@* <h1>@Model.Titulo</h1> *@

<div class="row">
    <!-- Columna de la portada -->
    <div class="col-md-4  d-flex align-items-center">
        <img src="@Model.UrlImagen" alt="Portada de @Model.Titulo" class="img-portada" />
    </div>

    <!-- Columna con los detalles -->
    <div class="col-md-8">
        <dl class="row">
            <dt class="col-sm-3">
                Título
            </dt>
            <dd class="col-sm-9 " style="font-size: 2.25rem;">
                @Html.DisplayFor(model => model.Titulo)
            </dd>
            <dt class="col-sm-3">
                Año
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.AnioPublicacion)
            </dd>
            <dt class="col-sm-3">
                Autor
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Autor.Nombre)
            </dd>
        </dl>
    </div>
</div>
<br />

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-success">Editar</a> 
    <a asp-action="Index" class="btn btn-primary">Volver al catálogo</a> 
    <a asp-action="Delete" asp-route-id="@Model?.Id" class="btn btn-danger">Eliminar</a>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/estilos.css" />
}
