@model MVC_Libros.Models.Libro

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Titulo</h1>

<div class="row">
    <!-- Columna de la portada -->
    <div class="col-md-4 text-center">
        <img src="@Model.UrlImagen" alt="Portada de @Model.Titulo" style="max-width:50%; height:auto;" />
        <p><strong>Portada</strong></p>
    </div>

    <!-- Columna con los detalles -->
    <div class="col-md-8">
        <dl class="row">
            <dt class="col-sm-3">
                Año
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.AnioPublicacion)
            </dd>
            <dt class="col-sm-3">
                Autor
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Autor.Nombre)
            </dd>
        </dl>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Volver al listado</a>
</div>
