@model IEnumerable<MVC_Libros.Models.Libro>

@{
    ViewData["Title"] = "Catálogos de Libros";
}

<h1>Catálogos de Libros</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Portada
            </th>
            <th>
                Título
               @* @Html.DisplayNameFor(model => model.Titulo) *@
            </th>
            <th>
                Año
                @* @Html.DisplayNameFor(model => model.AnioPublicacion) *@
            </th>
            <th>
                Autor
                @* @Html.DisplayNameFor(model => model.Autor) *@
            </th>
            
            <th>Detalle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @if (!string.IsNullOrEmpty(item.UrlImagen))
                    {
                        <img src="@item.UrlImagen" alt="Imagen de @item.Titulo" style="max-height:100px;" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AnioPublicacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Autor.Nombre)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
