@model IEnumerable<MVC_Libros.Models.Libro>

@{
    ViewData["Title"] = "Catálogos de Libros";
}

<h1>Catálogos de Libros</h1>

<a asp-action="Create" asp-controller="Libros" class="btn btn-primary">
    <i class="bi bi-plus-circle"></i>Crear Libro
</a>

<table class="table">
    <thead>
        <tr>
            <th>
                Portada
            </th>
            <th>
                Título
               @* @Html.DisplayNameFor(model => model.Titulo) *@
            </th>
            <th>
                Año
                @* @Html.DisplayNameFor(model => model.AnioPublicacion) *@
            </th>
            <th>
                Autor
                @* @Html.DisplayNameFor(model => model.Autor) *@
            </th>
            
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @if (!string.IsNullOrEmpty(item.UrlImagen))
                    {
                        <img src="@item.UrlImagen" alt="Imagen de @item.Titulo" style="max-height:150px;" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AnioPublicacion)
                </td>
                <td>
                    <a asp-controller="Autores" asp-action="Libros" asp-route-id="@item.AutorId">
                        @item.Autor?.Nombre
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Details", "Libros", new { id = item.Id })" class="btn btn-info">
                        <i class="bi bi-eye"></i> Ver detalles
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Styles {
    <link rel="stylesheet" href="~/css/estilos.css" />
}
