@model IEnumerable<MVC_Libros.Models.Autor>

@{
    ViewData["Title"] = "Autores";
}

<h1>Autores</h1>

<a asp-action="Create" asp-controller="Autores" class="btn btn-primary">
    <i class="bi bi-plus-circle"></i> Crear nuevo autor
</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success">
                        <i class="bi bi-pencil"></i> Editar
                    </a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">
                        <i class="bi bi-eye"></i> Detalles
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">
                        <i class="bi bi-trash"></i> Eliminar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Index" asp-controller="Libros" class="btn btn-secondary">
    <i class="bi bi-arrow-left"></i> Volver al catálogo
</a>

